body {
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 30px;
}

.pageUrl {
  font-size: 16px;
  margin-bottom: 40px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  text-align: center;
  position: relative;
}

.image {
  display: block;
  margin-bottom: 3px;
  max-width: 300px;
  cursor: pointer;
}

.video {
  outline: 1px dashed black;
}

.download {
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  background: url(/icons/48.png) no-repeat;
  border: none;
  opacity: 0.7;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: opacity ease 200ms;
}

.download:hover {
  opacity: 0.9;
}

.download:active {
  transform: scale(1.05);
}

.downloadAll {
  display: inline-block;
  text-align: center;
  border: 3px solid black;
  background: none;
  font-size: 18px;
  padding: 3px 10px;
  min-width: 68px;
  box-sizing: border-box;
  padding: 7px 18px;
  vertical-align: bottom;
  margin-bottom: 4px;
  width: 200px;
  align-self: end;
  background-color: white;
}

button:hover {
  border-color: #0040ff;
  color: #0040ff;
  cursor: pointer;
}

button:active {
  transform: scale(1.02);
}

.info {
  font-size: 18px;
  margin-top: -4px;
  margin-bottom: 34px;
  line-height: 1.5;
}

.buttonContainer {
  position: fixed;
  top: 30px;
  right: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background: white;
}

.downloadWarning {
  font-size: 15px;
}

.layover.show {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.9;
  z-index: 2;
}

.bigImage {
  margin: auto;
  display: none;
  z-index: 3;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.bigImage.show {
  display: block;
}

.popupContainer {
  display: none;
  z-index: 1;
}

.popupContainer.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}