body {
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 30px;
}

.pageUrl {
  font-size: 16px;
  margin-bottom: 40px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  text-align: center;
  position: relative;
}

.image {
  display: block;
  margin-bottom: 3px;
  max-width: 300px;
  cursor: pointer;
}

.video {
  outline: 1px dashed black;
}

.download {
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  background: url(/icons/48.png) no-repeat;
  border: none;
  opacity: 0.7;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: opacity ease 200ms;
}

.download:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(1.05);
}

.bigButton {
  display: inline-block;
  text-align: center;
  background: none;
  font-size: 20px;
  min-width: 68px;
  box-sizing: border-box;
  padding: 10px 18px;
  vertical-align: bottom;
  width: 250px;
  align-self: end;
  background-color: white;
}

.downloadAllButtons {
  border: 3px solid black;
  cursor: pointer;
  display: none;
}

.downloadAllButtons.show {
  display: block;
}

.downloadButtons {
  display: none;
  margin-top: -3px;
}

.downloadAllButtons:hover .downloadButtons {
  display: block;
}

.downloadAllButtons:hover {
  border-color: #0040ff;
  color: #0040ff;
  cursor: pointer;
}

.downloadButton {
  display: inline-block;
  text-align: center;
  border: none;
  background: none;
  font-size: 16px;
  padding: 5px 10px;
  box-sizing: border-box;
  padding: 8px 18px;
  border-color: #0040ff;
  border-style: solid;
  border-width: 0px;
  border-top-width: 3px;
}

.downloadButton:hover {
  color: #0040ff;
  border-top: none;
}

.downloadAll {
  width: 100px;
  border-right-width: 3px;
}

.downloadAllAsArchive {
  width: 150px;
}

.downloadAll:hover {
  border-right: none;
}

.downloadAll:hover + button {
  border-left-width: 3px;
}

.stopDownloading {
  display: none;
}

.stopDownloading:hover {
  border-color: #dc0000;
  color: #dc0000;
}

.stopDownloading.show {
  display: block;
}

button:hover {
  border-color: #0040ff;
  color: #0040ff;
  cursor: pointer;
}

button:active {
  transform: scale(1.02);
}

.info {
  font-size: 18px;
  margin-top: -4px;
  margin-bottom: 34px;
  line-height: 1.5;
}

.buttonContainer {
  position: fixed;
  top: 30px;
  right: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background: white;
}

.downloadWarning {
  font-size: 15px;
}

.layover.show {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.9;
  z-index: 2;
}

.bigImage {
  margin: auto;
  display: none;
  z-index: 3;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.bigImage.show {
  display: block;
}

.popupContainer {
  display: none;
  z-index: 1;
}

.popupContainer.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.downloadProgress {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3px;
  display: none;
}

.downloadProgress.show {
  display: flex;
}

.progressSpinner {
  margin-top: 5px;
  width: 20px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(254, 119, 9);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: spinner 1.5s infinite linear;
  margin-right: 15px;
}

@keyframes spinner {
  to{
    transform: rotate(1turn)
  }
}

.totalDownloadCount {
  display: none;
}

.totalDownloadCount.show {
  display: inline;
}

.noThumbWarning {
  display: none;
  align-items: center;
}

.noThumbWarning p {
  margin-right: 15px;
}

.noThumbWarning.show {
  display: flex;
}
