body {
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 30px;
}

input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 18px;
  line-height: 1.3;
}

.newFolder {
  width: 300px;
}

input:focus {
  border-bottom-color: #0040ff;
  outline: none;
}

button {
  display: inline-block;
  text-align: center;
  margin-left: 8px;
  border: 3px solid black;
  background: none;
  font-size: 15px;
  padding: 3px 10px;
  min-width: 68px;
  box-sizing: border-box;
}

button:hover {
  border-color: #0040ff;
  color: #0040ff;
  cursor: pointer;
}

button:active {
  transform: scale(1.02);
}

.main {
  display: flex;
  gap: 50px;
}

.bigButton {
  font-size: 18px;
  padding: 5px 15px;
  vertical-align: bottom;
  margin-left: 10px;
}

.saveFoldersList {
  margin-top: 40px;
  padding-left: 15px;
  list-style: none;
}

li {
  margin-top: 10px;
}

.folderPath {
  padding-right: 15px;
}

.attentionButton:hover {
  border-color: #dc0000;
  color: #dc0000;
}

.successButton:hover {
  border-color: #3CB371;
  color: #3CB371;
}

h1 {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
}

h1 span {
  font-size: 16px;
  font-weight: 300;
}


th {
  padding: 5px;
}

.specialRules h1 {
  margin-bottom: 30px;
}

.specialRules span {
  font-size: 15px;
  display: block;
  margin-bottom: 3px;
}

.tips span:last-child {
  margin-top: 10px;
}

.specialRules table {
  margin-top: 30px;
  margin-bottom: 30px;
}

th {
  text-align: left;
}

td input {
  width: 300px;
}

.url {
  width: 400px;
}

.thumbImg {
  width: 150px;
}

.image {
  width: 450px;
}

th, td {
  padding: 10px;
}

.specialRules .remove {
  transform: translate(0, 8px);
}

.downloadRules {
  margin-left: 30px;
  margin-top: 3px;
}

.uploadRules input {
  visibility: hidden;
}

.uploadRules button:hover {
  color: rgb(254, 119, 9);
  border-color: rgb(254, 119, 9);
}

.uploadRules {
  margin-bottom: 0 !important;
}

h1 button {
  border-right: 0;
  border-top: 0;
  border-left: 0;
}
