body {
  font-size: 14px;
}

table {
  width: 400px;
  border-collapse: collapse;
  margin-bottom: 20px
}

table, th, td {
  padding: 8px 14px;
}

.option-name {
  text-align: right;
}

button {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  padding: 5px 10px;
  width: 110px;
}

#defaults {
  margin-top: 10px;
  width: 80px;
}

br {
  margin-bottom: 5px;
}